<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi! Sou Alef Freitas, Desenvolvedor Front-End e apaixonado pela Tecnologia.</p>
        </div>
    </main>
    
</body>
<%- include('../partials/footer'); %>
</html>